.DS_Store
*.log
*.tmp
._*

/backend/target/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/*.iml
/backend/mvnw
/backend/mvnw.cmd
/backend/.mvn/

/backend/pom.xml.tag
/backend/pom.xml.releaseBackup
/backend/pom.xml.versionsBackup
/backend/.release.properties
/backend/target/
/backend/logs/
/backend/out/

/backend/.idea/
/backend/*.iml

/frontend/.next/
/frontend/node_modules/
/frontend/out/
/frontend/build/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/frontend/.env
/frontend/.env.*.local

/report/*.aux
/report/*.log
/report/*.out
/report/*.toc
/report/*.lof
/report/*.lot
/report/*.gz
/report/*.blg
/report/*.synctex.gz
/report/*.fls
/report/*.fdb_latexmk